<h1>HELLO WORLD</h1>
<div class="row container">
	<div class="col s6">
		<img src="/img/burger_gene.png" alt="">
		<form action="submit">
			<input class="input" type="text" placeholder="Enter a burger" name="burger"
				id="burgerInput">
		</form>
		<button>devour</button>
	</div>
</div>